<div class="comment">
  <table class="table table-hover" id="patternList">
    <tbody>  Les commentaires du pattern :

    <tr ng-repeat="comment in commentaries.contents" >
      <td><b>{{comment.date | date:"dd/MM/yyyy 'à' h:mma"}} {{comment.first_name}}</b> : {{comment.text}}</td>
    </tr>
    </tbody>
  </table>

  <div>
    <form>
      <label>Votre commentaire</label>
      <input type="text" ng-model="newcomment" placeholder="Ecrire ici..."/>
    </form>
    <button ng-click="comment()">Répondre</button>
  </div>
</div>
