<div ng-controller="EqualizerCtrl" ng-init="init();">
  <div class="row">
    <div class="col-lg-4 mix-area">
      <h2 class="mix-title">List of the mixs</h2>
      <div class="list-mixs">
        <table class="table table-hover" id="loopList">
          <tbody>
          <tr ng-repeat="mix in listOfMix">
            <td>{{mix}}</td>
            <td>
              <button class="mix-play pull-right" equalizer ng-click="playMix(mix)"><i class="fa fa-play"></i></button>
              <button class="mix-pause pull-right" equalizer ng-click="pauseMix()"><i class="fa fa-pause"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      </div>
    <div class="col-lg-4 time-domain">
      <h2 class="time-domain-title">Time domain equalizer</h2>
      <canvas id="equalizer-realtime" ></canvas>
    </div>
    <div class="col-lg-4 frequency-title">
      <h2 class="frequency-title">Frequency equalizer</h2>
      <canvas id="equalizer-frequency" ></canvas>
    </div>
  </div>
</div>
</div>
