<div id="login-content" ng-controller="LoginCtrl" ng-init="init();">
  <div class="navbar-header1 login">
    <a class="username">{{first_name}} {{last_name}}</a>
    <button class="navbar-brand1" id="signUp" ng-show="registerMenuOn" ng-click="showSignUp()">Sign up</button>
    <button class="navbar-brand2" id="login" ng-show="loginMenuOn" ng-click="showLogin()">Log in</button>
    <button class="navbar-brand3" id="logout" ng-show="logoutMenuOn"  ng-click="showLogout()">Log out</button>
  </div>

  <div class="login-form row" ng-show="loginForm">

    <form name="formData">

    <div class="row">
      <input id="lastNameLogin"  placeholder="Last Name" ng-model="lastName" ng-show="showLastName">
    </div>

    <div class="row">
      <input id="firstNameLogin"  placeholder="First Name" ng-model="firstName" ng-show="showFirstName">
    </div>

    <div class="row">
      <input required type="email" placeholder="Email" pattern="[^ @]*@[^ @]*" ng-model="myEmail" name="myEmail">
    </div>

    <div class="row">
      <input required type="password" name="myPwd" placeholder="Password" ng-model="pwd">
    </div>

    <div class="row">
      <button id="signUp-button" class="btn btn-primary" type="submit" ng-show ="registerButton" ng-click="signUp(firstName,lastName,myEmail,pwd)">Sign Up</button>
    </div>

    <div class="row">
      <button id="login-button" class="btn btn-primary" type="submit" ng-click="logIn(myEmail,pwd)" ng-show="loginButton">Login</button>
    </div>

    </form>

  </div>

</div>
