<uib-tabset>
  <uib-tab heading="Loops">
    <table class="table table-hover" id="loopList">
      <tbody>
      <tr ng-repeat="loop in loopList" ng-drag="true" ng-drag-data="loop" data-allow-transform="true" class="ng-binding" draggable="false">
        <td>{{loop}}</td>
        <td><button class="loop-play pull-right" ng-click="playSample($index)"><i class="fa fa-play"></i></button></td>
      </tr>
      </tbody>
    </table>
  </uib-tab>
  <uib-tab heading="Collection">
    <table class="table table-hover" id="patternList">
      <tbody>
      <tr ng-repeat="sample in samplesByUsers" ng-drag="true" ng-drag-data="loop" data-allow-transform="false" class="ng-binding" draggable="false">
        <td>{{sample.name}}</td>
       <!-- <td><button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Commenter</button></td> -->
        <td><button type="button" class="btn btn-default" ng-click="open(sample._id)">Commenter</button></td>
        <td><button class="loop-play pull-right" ><i class="fa fa-play"></i></button></td>
      </tr>
      </tbody>
    </table>
  </uib-tab>
</uib-tabset>

<script type="text/ng-template" id="allcomments.html">

  <table class="table table-hover">
    <tbody>  Les commentaires du samples :
    <tr ng-repeat="comment in commentaries.contents" >
      <td>{{comment.text}}</td>
    </tr>
    </tbody>
  </table>

  <div>
    <form>
      <label>Votre commentaire</label>
      <input type="text" placeholder="Ecrire ici..."/>
    </form>
    <button ng-click="">Répondre</button>
  </div>

</script>
