<uib-tabset>
  <uib-tab heading="Loops">
    <table class="table table-hover" id="loopList">
      <tbody>
      <tr ng-repeat="loop in loopList" ng-drag="true" ng-drag-data="loop" data-allow-transform="true" class="ng-binding" draggable="false">
        <td>{{loop}}</td>
        <td><button class="loop-play pull-right" ng-click="playSample($index)"><i class="fa fa-play"></i></button></td>
      </tr>
      </tbody>
    </table>
  </uib-tab>
  <uib-tab heading="Tous les patterns">
    <table class="table table-hover patternList">
      <tbody>
      <tr ng-repeat="pattern in patternsByUsers" ng-drag="true" ng-drag-data="pattern" data-allow-transform="true" class="ng-binding" draggable="false">
        <td>{{pattern.name}}</td>
       <!-- <td><button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Commenter</button></td> -->
        <td><button type="button" class="btn btn-default" ng-click="open(pattern._id, pattern.name)">Commenter</button></td>
      </tr>
      </tbody>
    </table>
  </uib-tab>
  <uib-tab heading="Mes patterns">
    <table class="table table-hover patternList">
      <tbody>
      <tr ng-repeat="myPattern in myPatterns" ng-drag="true" ng-drag-data="myPattern" data-allow-transform="true" class="ng-binding" draggable="false">
        <td>{{myPattern.name}}</td>
        <!-- <td><button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Commenter</button></td> -->
        <td><button type="button" class="btn btn-default" ng-click="open(myPattern._id, myPattern.name)">Commenter</button></td>
      </tr>
      </tbody>
    </table>
  </uib-tab>
</uib-tabset>
