<div class="row topFloor">
  <div class="col-md-12 section">
    Bande de son principale
  </div>
</div>
<div class="row middleFloor">
  <div class="col-md-6 section">
    Réglages sur le son
  </div>
  <div class="col-md-6 section">
    Bande de son secondaire
  </div>
</div>
<div class="row bottomFloor">
  <div class="col-md-4 section">
    Liste des loop
  </div>
  <div class="col-md-4 section">
    Liste des pattern
  </div>
  <div class="col-md-4 section">
    Equalizer qui bouge
  </div>
</div>
