<div class="mtrule">
  <table id="mttimeline-wrapper" cellspacing="0" cellpadding="0">
    <tr>
      <td width="10%">&nbsp;</td>
      <td>
        <span ng-repeat="i in getNumber(number) track by $index" ng-style="functionThatReturnsStyle(index)">
          &nbsp; {{getTimeForTimeline($index * 5);}}
        </span>
      </td>
    </tr>
  </table>
</div>
<div class="mtsongscontainer">
  <div ng-repeat="i in getNumber(number) track by $index" class="mtsong">
      <canvas></canvas>
  </div>
</div>

<div class="mtplay">
  <i class="fa fa-play-circle" ng-click="play()"></i>
  <i class="fa fa-pause-circle" ng-click="pause()"></i>
  <i class="fa fa-stop-circle" ng-click="stop()"></i>

  <span ng-click="addTrack()">Add track</span>
</div>


