<div class="mtrule">
    Div règle de temps
</div>
<div class="mtsongscontainer">
  <div class="mtsongs">
  <div class="row mtsong">
    <div class="col-sm-11">
      <img src="images/basse.png" width="100%" height="50px">
    </div>
    <div class="col-sm-1">
      Mute
    </div>
  </div>
  <div class="row mtsong">
    <div class="col-sm-11">
      <img src="images/basse.png" width="100%" height="50px">
    </div>
    <div class="col-sm-1">
      Mute
    </div>
  </div>
  <div class="row mtsong">
    <div class="col-sm-11">
      <img src="images/basse.png" width="100%" height="50px">
    </div>
    <div class="col-sm-1">
      Mute
    </div>
  </div>
  <div class="row mtsong">
    <div class="col-sm-11">
      <img src="images/basse.png" width="100%" height="50px">
    </div>
    <div class="col-sm-1">
      Mute
    </div>
  </div>
  <div class="row mtsong">
    <div class="col-sm-11">
      <img src="images/basse.png" width="100%" height="50px">
    </div>
    <div class="col-sm-1">
      Mute
    </div>
  </div>
</div>
</div>

<div class="mtplay">
    Play/pause
</div>


