<div ng-init="init()" class="songSettings">
    <h4>Song settings</h4>
  <div class="song-frequency">
    <div><input type="range" min="0" max="100" ng-model="frequency"  ng-change="setFrequency()">Frenquency</div>
    <div><input type="range" min="1" max="100" ng-model="quality"  ng-change="setQuality()">Quality</div>
   <!-- <div><input type="range" min="0" max="5" step="0.1" ng-model="gain" ng-init="song.gain=0.5" ng-change="changeGain()">Feedback</div> -->
    <div><input type="range" min="0" max="5" step="0.1"  ng-model="delay" ng-change="changeDelay()">Delay</div>
  </div>
</div>

