<div ng-controller="SongSettingsCtrl" ng-init="init();">
    <h4>Réglages sur le son</h4>
  <my-test>
    <i class="fa fa-play" ></i>
    <i class="fa fa-pause" ></i>
  </my-test>
  <i class="fa fa-play" ng-click="playTrack()" ng-model="playTrackModel" ng-show="playTrackModel"></i>
  <i class="fa fa-pause" ng-click="stopTrack()" ng-model="stopTrackModel" ng-show="stopTrackModel"></i>
  Volume: <input type="range" min="0" max="100" value="50" id="song-volume"  ng-model="song.volume" ng-change="changeVolume()">
  <div class="song-frequency">
    Frequency:
              <select class="form-control frequency-ctrl" ng-init="frequency.type='lowpass'" ng-model = "frequency.type" ng-change="frequencyType()">
                <option >lowpass</option>
                <option>highpass</option>
                <option>bandpass</option>
                <option>lowshelf</option>
                <option>highshelf</option>
                <option>peaking</option>
                <option>notch</option>
                <option>allpass</option>
              </select>
              <input type="range" min="0" max="100" value="50" ng-model="song.frequency" ng-init = "song.frequency=50" ng-change="setFrequency()"> Frenquency
              <input type="range" min="1" max="100" ng-model="song.quality" ng-init="song.quality=1" ng-change="setQuality()"> Quality</div>
  <div class="cross-fade"> CrossFade: <input type="range" min="0" max="100" value="50"  ng-model="song.quality" ng-change="changeVolume()"></div>
  <div class="song-feedback">Feedback : <input type="range" min="0" max="5" step="0.1" ng-model="song.gain" ng-init="song.gain=0.5" ng-change="changeGain()"></div>
  <div class="song-delay">Delay : <input type="range" min="0" max="5" step="0.1"  ng-model="song.delay" ng-init="song.delay=0" ng-change="changeDelay()"></div>
  <canvas id="song-visualize"></canvas>
  <canvas id="song-visualize-bar"></canvas>
  <button type="button" class="btn btn-default" ng-click="save()">Save</button>
</div>
