.loop-play
{
  font-size: large;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.loop-play:hover {
  color: green;
}

#loopList td
{
  width: 50%;
  border: 0px;
}
