.mainTrack{
  height: 220px;
}
.mtrule {
  height: 20px;
}
.mtonesecondrule { /* une seconde sur la regle de temps */
  width:100px;
  border-right: 1px solid blue;
  height:100%;
}

.row {
  margin: 0 0 0 0;
}
.mtsongscontainer {
  height: 170px;
  overflow: hidden;
}
.mtsongs {
  height: 100%;
  background-color: grey;
  overflow: auto;
}
.mtsong {
  border: 1px solid black;
}
.mtplay {
  height: 30px;
}
