body {
  min-height: 100%;
  background-color: #FFFFFF;
  color: black;
}
div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.topFloor, .middleFloor, .bottomFloor {
  margin-top: 10px;
}

.section {
  padding: 0 0 0 0;
}

section {

  min-height: 220px;
  margin-top: 2px;

  background-color: #FFFFFF;
  border: 1px solid black;
}
