[ng-drop] {
  width: 100%;
  min-height: 100px;
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 1px;
}

[ng-drop].drag-enter {
  border: solid 2px red;
}

.step-sequencer-button > .fa
{
  font-size: x-large;
  color: deepskyblue;
}

.patterns
{
  margin-bottom: 15px;
}

.round-corners
{
  border-radius: 15px;
  background-color: #ebebeb;
}
