[ng-drop] {
  width: 100%;
  display: block;
  position: relative;
  padding-bottom: 1px;
}

[ng-drop].drag-enter {
  border: solid 2px red;
}

[ng-drop].drag-enter p {
  font-size: medium;
}

.patterns
{
  margin-bottom: 15px;
}

.round-corners
{
  background-color: #ebebeb;
  padding-left: 10px;
  overflow-y: auto;
  height: 350px;
}

.round-corners p
{
  text-align: center;
}

.buttons-mute-solo-volume
{
  font-size: x-small;
}

.buttons-mute-solo-volume, .name, .delete
{
  margin-top: 6px;
}

.buttons-mute-solo-volume button
{
  margin-right: 3px;
}

.mute
{
  background-color: red;
  text-decoration: none;
  border: 2px solid black ;
  color: white;
}

.solo
{
  background-color: yellow;
  text-decoration: none;
  border: 2px solid black ;
}

.name:hover
{
  cursor: pointer;
}

.delete
{
  font-size: small;
}

.delete > button
{
  text-decoration: none;
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
}

.volume-slider
{
  padding-right: 15px;
}

.patterns .name
{
  text-align: center;
  color: #fafafa;
  font-size: small;
  background: linear-gradient(#d3d3d3,black);
  border: 1px solid black;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tools
{
  margin-top: 10px;
}

#disket
{
  font-size: large;
}

#pattern-name
{
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

.save-field, .save-disket
{
  padding-top: 3px;
}

.play-stop-buttons
{
  text-align: center;
  font-size: x-large;
}

.play-stop-buttons button
{
  background-image:linear-gradient(lightgrey, #424242);
  width: 40px;
  border-radius: 5px;
  border: 1px solid black;
}

.play-stop-buttons .playing {
  background-image:radial-gradient(lightgrey, #424242);
  text-decoration: none;
}

.play-stop-buttons #stop:active, .play-stop-buttons #clear-all:active {
  background-image:radial-gradient(lightgrey, #424242);
  text-decoration: none;
}

.range-block
{
  border: 2px solid black;
  text-align: center;
  font-family: digital-love;
  font-size: 20px;
  background-color: #acbdbd;
  border-radius: 5px;
}

#tempo
{
  font-size: 10px;
}

.lights
{
  padding-left: 45px;
}

.step-sequencer
{
  padding-left: 45px;
}

.step-sequencer-button
{
  text-align: center;
  font-size: x-large;
  margin-right: 20px;
  cursor: pointer;
}

.b-0,.b-1,.b-2,.b-3,.b-8,.b-9,.b-10,.b-11
{
  color: deepskyblue;
}

.b-4,.b-5,.b-6,.b-7,.b-12,.b-13,.b-14,.b-15
{
  color: red;
}

.light-tempo
{
  text-align: center;
  font-size: x-large;
  color: green;
  margin-right: 20px;
}

@font-face {
  font-family: 'digital-love';
  src: url('../assets/fonts/digital-7.ttf');
}

div.song-frequency span {
  float: left;
}
div.song-frequency input {
  width: 60%;
}
