i.fa-play-circle.reglage-play,
i.fa-pause-circle.reglage-pause,
i.fa-pause-circle.reglage-volume{
    font-size: 15px;
}
i.fa-pause-circle.reglage-pause {
    display: none;
}
input#song-volume {
  width: 30%;
  display: inline-block;
}
div.song-frequency input,
div.song-quality{
  display: inline-block;
  width: 30%;
}
select.frequency-ctrl {
  width: 20%;
}
div.song-frequency {
  border: 1px solid black;
}
div.cross-fade {
  display: none;
}
canvas#song-visualize {
  height: 200px;
  width: 400px;
  border: 1px solid black;
}
canvas#song-visualize-bar {
  border: 1px solid black;
  width: 400px;
  height: 200px;
}

/*
canvas#song-visualize,
canvas#song-visualize-bar {
  display : none;
}
*/
