.songSettings {
  padding:10px;
}
.songSettings h4 {
  margin:auto;
  margin-bottom: 10px;
}
.songSettings .set {
  margin-left:10px;
}

i.fa-play-circle.reglage-play,
i.fa-pause-circle.reglage-pause,
i.fa-pause-circle.reglage-volume{
    font-size: 15px;
}
i.fa-pause-circle.reglage-pause {
    display: none;
}
input#song-volume {
  width: 30%;
  display: inline-block;
}
div.song-frequency input,
div.song-quality{
  display: inline-block;
  width: 30%;
}
select.frequency-ctrl {
  width: 20%;
}

div.cross-fade {
  display: none;
}

.fa-pause.reglagesong-pause {
  display: none;
}
canvas#song-visualize {
  height: 100px;
  width: 350px;
  margin-right:5px;
  margin-top: 5px;
}
canvas#song-visualize-bar {
  width: 350px;
  height: 100px;
  margin-top: 5px;
}

/*
canvas#song-visualize,
canvas#song-visualize-bar {
  display : none;
}
*/
